# Maven target 目录
**/target/

# IntelliJ IDEA 配置文件
.idea
*.iml

# Java 编译生成的字节码文件
*.class

# 测试代码文件
*Test.java
**/test/

# 忽略讲义、资料、文档等文件夹和常见格式
lecture_notes/
docs/
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
*.rar

# 忽略日志文件
*.log

# 忽略操作系统文件
.DS_Store
Thumbs.db
